@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
* {
  margin: 0;
}

body {
  background: 023e8a;
  background: linear-gradient(
    90deg,
    rgba(25, 100, 247, 1) 0%,
    rgb(20, 20, 20) 52%,
    rgba(2, 137, 238, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(121, 205, 246, 1);
  width: 25%;
  height: 25%;
  border-radius: 35px;
  box-shadow: 0 0 0 3px #149df2;
}

.label-city {
  margin-bottom: 15px;
  font-size: 25px;
  color: #023e8a;
}
.input-city {
  width: 200px;
  height: 30px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  text-align: center;
  border-right: none;
  padding: 0;
}
.input-city:focus {
  outline: none;
}

.input-img {
  background-color: white;
  width: 30px;
  height: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-container {
  width: 210px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.input-container:hover {
  box-shadow: 0 0 20px rgb(252, 252, 252);
}
.forecast-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: rgba(121, 205, 246, 1);
  width: 30%;
  height: 350px;
  border-radius: 35px;
  box-shadow: 0 0 0 3px #149df2;
}
.weather-info-container {
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  color: #023e8a;
}
.city-title {
  color: #023e8a;
}
.city-temp-min {
  grid-column-start: 1;
  grid-row-start: 2;
}
.city-temp-max {
  grid-column-start: 1;
  grid-row-start: 3;
}
.city-temp-feels {
  grid-column-start: 2;
  grid-row-start: 1;
}
.city-humidity {
  grid-column-start: 2;
  grid-row-start: 2;
}

.city-temp-min,
.city-temp-max,
.city-temp-feels,
.city-humidity,
.city-temperature,
.city-pressure {
  transition: 0.5s;
}

.city-temp-min:hover,
.city-temp-max:hover,
.city-temp-feels:hover,
.city-humidity:hover,
.city-temperature:hover,
.city-pressure:hover {
  transform: scale(1.2);
}
